<div class="container" style="padding-top: 20px;">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#sql" role="tab" aria-controls="home" aria-selected="true">
        Cấu hình SQL
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#mongo" role="tab" aria-controls="profile" aria-selected="false">
        Cấu hình MongoDB
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#services" role="tab" aria-controls="contact" aria-selected="false">
        Services
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="sql" role="tabpanel" aria-labelledby="home-tab">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">User</label>
          <input type="text" class="form-control" [(ngModel)]="obj.user" name="user">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="text" class="form-control" [(ngModel)]="obj.password" name="password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Server</label>
            <input type="text" class="form-control" [(ngModel)]="obj.server" name="server">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Database</label>
            <input type="text" class="form-control" [(ngModel)]="obj.database" name="database">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Port</label>
            <input type="text" class="form-control" [(ngModel)]="obj.port" name="port">
        </div>
        <button type="submit" (click)="writeDataConfigSQL()" class="btn btn-primary">Lưu</button>
      </form>
    </div>
    
    <div class="tab-pane fade" id="mongo" role="tabpanel" aria-labelledby="profile-tab">
      <form>
          <div class="form-group">
              <label for="exampleInputEmail1">Connection</label>
              <input type="text" class="form-control" [(ngModel)]="objMongo.connection" name="connection">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Database</label>
              <input type="text" class="form-control" [(ngModel)]="objMongo.database" name="database">
          </div>
          <button type="submit" (click)="writeDataConfigMongo()" class="btn btn-primary">Lưu</button>
      </form>
    </div>

    <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="profile-tab">
        <div class="pull-right" style="padding: 10px 0;" data-toggle="modal" data-target="#exampleModal">
          <button type="button" class="btn btn-outline-secondary">Add</button>
        </div>
        <div style="padding: 10px 0;">
            <button type="button" class="btn btn-outline-secondary">Install Services</button>
            <button type="button" class="btn btn-outline-secondary" style="margin-left: 10px;">UnInstall Services</button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                    <div class="form-row">
                      <div class="col">
                        <label for="exampleFormControlInput1">From SQL</label>
                        <input type="email" class="form-control" [(ngModel)]="dataQuery.from_table"
                          placeholder="" name="tb_query">
                      </div>
                      <div class="col">
                        <label for="exampleFormControlInput1">To MongoDB</label>
                        <input type="email" class="form-control" [(ngModel)]="dataQuery.to_table"
                          placeholder="" name="tb_query">
                      </div>
                    </div>
                    <div class="form-row" *ngFor="let item of dataQuery.dataMapField; let idx = index">
                      <div class="form-group col-md-4">
                        <label for="exampleFormControlInput1">From Field</label>
                        <input type="email" class="form-control" [(ngModel)]="item.filed_from"
                          placeholder="" name="filed_from{{idx}}">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="exampleFormControlInput1">To Field</label>
                        <input type="email" class="form-control" [(ngModel)]="item.filed_to"
                          placeholder="" name="filed_to{{idx}}">
                      </div>
                      <div class="form-group col-md-4" style="padding-top: 40px; text-align: right;">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck"
                            [(ngModel)]="item.primary_key" name="primary_key">
                          <label class="form-check-label" for="gridCheck">
                            Khóa chính
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button
                        (click)="addMapField()">Add</button>
                      <button style="margin-left: 10px;" 
                        (click)="delMapField()">Delete</button>
                    </div>
                    <div class="form-group">
                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" [(ngModel)]="dataQuery.tb_run_f" 
                          name="tb_run_f" [value]="1">
                        <label class="form-check-label" for="exampleCheck1">Chạy trước</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input value="" type="radio" class="form-check-input" [(ngModel)]="dataQuery.tb_run_f" 
                          name="tb_run_f" [value]="2">
                        <label class="form-check-label" for="exampleCheck1">Chạy sau</label>
                      </div>
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveDataQuery()">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">From SQL</th>
              <th scope="col">To MongoDB</th>
              <th scope="col">Key map</th>
              <th scope="col">Chạy trước</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataQueryTb; let idx = index">
              <th scope="row">{{idx}}</th>
              <td>{{item.from_table}}</td>
              <td>{{item.to_table}}</td>
              <td>
                <p *ngFor="let it of item.dataMapField;">
                  {{it.filed_from}} => {{it.filed_to}} => {{it.primary_key}}
                </p>
              </td>
              <td>{{item.tb_run_f == 1 ? 'True': 'False'}}</td>
              <td>
                <button (click)="editData(idx, item)">Sửa</button>
                <button (click)="deleteData(idx, item)" style="margin-left: 10px;">Xóa</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

  </div>
  
</div>